{user, [
        {"username", "password"

         %Restriction rules:
         %These let you make a user's auth also contingent on the presence
         %and value of attributes in the Access Challenge packet. You can
         %-for instance- restrict access to an account to a machine that
         %claims to have a particular MAC address.
         %
         %Boolean AND and OR are provided:
         %The following two expressions are functionally identical
         %,{#{calling_station_id => <<"02-00-00-00-00-01">>
         %    ,connect_info => <<"CONNECT 11Mbps 802.11b">>}}
         %,{#{calling_station_id => <<"02-00-00-00-00-01">>}
         %    , a, #{connect_info => <<"CONNECT 11Mbps 802.11b">>}}
         %%The AND and OR boolean operators are named 'a' and 'o',
         %%respectively. Use a three-tuple to use a boolean operation.
         %%Boolean operation tuples may be nested and are evaluated
         %%from left to right.
         %%{ { #{z=>z}, o, #{b=>b} }, a, #{c=>c} }
         %%says "if( (z=>z or b=>b) and c=>c )"

         %Success attributes:
         %These are attributes to add to the RADIUS Accept packet,
         %if the user is authenticated. These success attrs would
         %ask the NAS to set the user's Idle-Timeout and Session-Timeout
         %to ten seconds.
         %,#{idle_timeout => 10, session_timeout => 10 }

         %Success attributes and restriction rules are both optional.
         %Restriction rules must be a tuple and success attributes
         %must be a map.
        }
        ]}.
{nas, [{"127.0.0.1", "password"}]}.
