{erl_opts, [{lager_truncation_size, 10240}]}.
%This is the auto-builder/auto-reloader. It takes ~10 seconds
%after startup before it starts doing its thing. It's a dev thing,
%not a prod thing.
{deps, [{sync, ".*",
            {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
            ]}.
%This makes rebar3 shell (and rebar3 auto) start the eradius app on startup.
%If there's a relx entry, then this becomes redundant, but we're not doing
%releases yet... so we have it.
%{shell, [{apps, [eradius]}]}.
