{deps, [
    {lager, ".*",
      {git, "https://github.com/basho/lager.git", 
      {branch, "master"}
      }
    }
    ,{lager_syslog, ".*",
      {git, "https://github.com/basho/lager_syslog.git", 
      {branch, "master"}
      }
    }
]}.

%%For lager-syslog, despite the package override name.
%%See https://github.com/blt/port_compiler#use-with-existing-dependency
{overrides,
  [{override, syslog, [
    {plugins, [pc]},
    {artifacts, ["priv/syslog_drv.so"]},
    {provider_hooks, [
      {post,
        [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
        ]
      }]
    }
  ]}
]}.
